[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://{{ groups['nodes'] | map('extract', hostvars, 'ans_host_add') | join(',') }}"
wsrep_node_address="{{ ansible_host }}"
wsrep_node_name="m-node-{{ server_id }}"

